/node_modules
/public/build
/public/hot
/public/sitemap.xml
/public/storage
/public/storage/favicon/*
/public/storage/logo/*
/public/storage/photos/*
/public/.htaccess
/public/.ht*
/public/robots.txt
/public/*.txt

/storage/*.key
/storage/app/public/photos/thumbnails/*
/storage/app/public/photos
/storage/app/public/logo
/storage/app/public/favicon
/storage/app/public/ads
/storage/app/public/sitemaps/*
/vendor
/secret/*
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
