/* custom */
.nav__home, .nav__more{
    position: absolute;
}
.bt__date {
    font-size: 12px;
    color: #000;
}

@media (max-width: 480px) {
    .post-title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        /* display: inline-block; */
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .nav--colored .nav__holder {
        background-color: #fff !important;
        box-shadow: 0 0 3px 1px rgba(0,0,0,.4);
    }
    .nav--sticky .nav__holder {
        box-shadow: 1px 0;
    }
}
@media only screen and (max-width: 990px) {
    .nav--colored .nav__holder {
        background-color: #fff !important;
    }
    .nav--sticky .nav__holder {
        box-shadow: 1px 0;
    }
}

.category_under_nav {
    background-color: #2cc38b;
}

.category_under_nav .d-flex {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.category_under_nav li a {
    color: #fff;
    font-weight: 700;
}
.category_under_nav li a:hover {
    color: #333;
    font-weight: 700;
}

.owl-nav {
    display: none;
}

.pilihan-editor {
    box-shadow: rgba(9, 30, 66, 0.25) 0 1px 1px,
        rgba(9, 30, 66, 0.13) 0 0 1px 1px;
    border-radius: 10px;
    background: #d9dbe9;
    padding: 0 0 20px 0;
}

@media only screen and (max-width: 768px) {
    .pilihan-editor {
        margin-top: 32px;
        margin-bottom: 32px;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }
}
@media only screen and (min-width: 768px) {
    .pilihan-editor {
        margin-top: 32px;
        margin-bottom: 32px;
        padding: 0 20px 20px 20px;
        width: 100%;
    }
}
.pilihan-editor .entry {
    margin-bottom: 0px;
}
.pilihan-editor .wrap-owl {
    position: relative;
}
.pilihan-editor .wrap-owl .wrap-btn-slider {
    position: absolute;
    z-index: 99;
    width: 100%;
    top: 40%;
}
.pilihan-editor .wrap-owl .wrap-btn-slider .btn-slider {
    display: flex;
    justify-content: space-between;
}
.pilihan-editor .wrap-owl .wrap-btn-slider .btn-slider a {
    z-index: 1;
    padding: 4px 12px;
    border-radius: 100%;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.4);
    background-color: #fff;
}
.btn-prev {
    left: -20px;
}
.pilihan-editor .wrap-owl .wrap-btn-slider .btn-slider a:hover {
    background: #2cc38b;
    color: white;
}

.wrapper-owl {
    position: relative;
}

.headline {
    position: absolute;
    z-index: 99;
    color: white;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    top: 8%;
    letter-spacing: 3px;
    padding: 4px 18px;
}
@media only screen and (max-width: 767px) {
    .headline {
        font-size: 12px;
        padding: 4px 11px;
        top: 10%;
    }
}

.owl-thumb-item {
    color: white;
    border: 0.5px solid white;
    outline: none;
    box-shadow: none;
}
.owl-thumb-item.active {
    border-top: 3px solid #2cc38b;
}
.owl-thumb-item .card {
    cursor: pointer;
    color: white;
    text-align: left;
    line-height: 16px;
    font-size: 12px;
    /* background-color: black; */
}
.owl-thumb-item .card-body {
    padding: 10px 10px;
}
.owl-thumb-item .card-body a {
    /* color: white; */
    color: black;
    line-height: 0px;
}

.owl-thumb-item .card-body a:hover {
    text-decoration: underline;
    color: #2cc38b;
}

.owl-thumb-item .card img {
    border-radius: 100%;
    height: 165px;
    border: 6px solid #2cc38b;
}

.owl-dots {
    position: absolute;
    bottom: 6%;
    right: 4%;
    z-index: 99;
    height: 15px;
}
.owl-dots .owl-dot span {
    height: 10px;
    width: 10px;
    margin: 5px;
}
.owl-dots .owl-dot.active span {
    background-color: #2cc38b;
}

/* tombol load more */

.loadmore {
    padding: 20px 0 60px;
    text-align: center;
}

.tombolmore {
    color: #2cc38b;
    border: 2px solid #2cc38b;
    padding: 10px 15px;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    display: inline-block;
    text-align: center;
}
.tombolmore:hover {
    background-color: #2cc38b;
    color: #fff;
}

/* footer */
@media only screen and (max-width: 768px) {
}
.entry__title:hover a {
    text-decoration: underline;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.result-search {
    padding: 0 0 30px;
}
.search {
    display: flex;
}
.search i {
    font-size: 18px;
    margin-top: 15px;
    color: #2cc38b;
}
.search input {
    border-radius: 10px;
    border-bottom: 2px solid #2cc38b;
}

/* title */
.title-post {
    border-top: none;
    position: relative;
    z-index: 2;
    padding: 20px 0 15px;
    font-size: 24px;
    line-height: 1.4;
    font-weight: 600;
}
.title-post span {
    color: #333;
    text-transform: capitalize;
    position: relative;
    z-index: 200;
    padding-left: 15px;
    padding-right: 5px;
    /* font-style: italic; */
}
.title-post span:before {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    background-color: #2cc38b;
}

/* title-list-berita */
.title-list-berita {
    font-size: 17px;
    font-weight: 800;
    text-transform: uppercase;
    color: #222;
    border-bottom: 2px solid #d6d6d6;
    height: 27px;
    line-height: 19px;
    margin-bottom: 23px;
}
.title-list-berita span{
    border-bottom: 2px solid #2cc38b;
    display: inline-block;
    line-height: 17px;
    height: 25px;
    font-style: italic;
}

/* title sidebar */
.title-sidebar {
    font-size: 17px;
    font-weight: 800;
    text-transform: uppercase;
    color: #222;
    border-bottom: 2px solid #d6d6d6;
    height: 27px;
    line-height: 17px;
}
.title-sidebar span{
    border-bottom: 2px solid #2cc38b;
    display: inline-block;
    line-height: 17px;
    height: 25px;
    font-style: italic;
}

/* sidebar */
.most__wrap {
    background-color: #fff;
    border: 1px solid #eff0f6;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.02);
}

.most__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 0;
    padding: 10px 15px;
    align-items: center;
    border-bottom: 1px solid #eff0f6;
    position: relative;
}

.most__number {
    width: 45px;
    height: 55px;
    padding: 8px 3px 8px 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-align: center;
    font-size: 32px;
    line-height: 1.4;
    font-weight: 600;
    font-style: italic;
    position: relative;
    background-color: #e0e0e0;
    border-radius: 10px;
    color: rgb(22, 22, 22);
}

.most__right {
    width: calc(100% - 45px);
    padding-left: 15px;
    position: relative;
}

.most__link {
    display: block;
}

.most__title {
    height: auto;
    max-height: 93px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
    overflow: hidden;
}

.most__link > h2 {
    margin: 0;
}

/* .most__item:hover .most__number {
    color: #171821 !important;
} */

.most__item:hover .most__title {
    color: #2cc38b;
}

/* home button */
.nav__home {
    left: -25px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    display: inline-block;
    cursor: pointer;
    margin-right: 20px;
    overflow: visible;
    text-transform: none;
    border: 0;
}

@media (max-width: 768px) {
    .nav__home {
        display: none;
    }
}

.icon {
    color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    display: block;
    font-size: 16px;
}

.icon:hover {
    color: #000;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

@media (min-width: 576px) {
    .kontiner {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .kontiner {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .kontiner {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .kontiner {
        max-width: 1140px;
    }
}
@media (min-width: 1280px) {
    .kontiner {
        max-width: 1100px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 15px;
        padding-left: 15px;
    }
}
.kontiner {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.trending-now--1 .newsticker {
    border: 1px solid #e3e4e8;
}

.newsticker {
    padding-right: 9px;
    height: 36px;
    overflow: hidden;
}

.newsticker__list {
    display: flex;
}

.newsticker__item {
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

@keyframes tickerh {
    0% {
        transform: translate3d(100%, 0, 0);
    }
    100% {
        transform: translate3d(-400%, 0, 0);
    }
}
.newsticker__list {
    animation: tickerh linear 35s infinite;
}
.newsticker__list:hover {
    animation-play-state: paused;
}
@media only screen and (max-width: 768px) {
    .newsticker__list {
        animation-duration: 20s;
    }
}
.newsticker__item-url {
    color: #54555e;
}
.newsticker__item-url:hover {
    color: #2d95e3;
}

.row__bawah {
    margin: 32px 0 0 0;
}

@media (max-width: 480px) {
    .post-title, .post-list-small__entry-title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        /* display: inline-block; */
        width: 100%;
    }
}
@media (max-width: 480px) {
    .terkait__title {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        /* display: inline-block; */
        width: 100%;
    }
}

.category{
    text-decoration: underline;
}

/*-------------------------------------------------------*/
/* Footer
/*-------------------------------------------------------*/
.footer {
    margin-top: 42px;
    background: #000;
    color: #fff;
    border-top: 4px solid #2cc38b;
    background: #ffffff;
    color: #000;
}
.footer__widgets {
    padding: 50px 0 20px 0;
}
.footer__widgets p {
    font-size: 14px;
    line-height: 26px;
}
@media only screen and (max-width: 991px) {
    .footer__widgets > .row > div:not(:last-child) {
        margin-bottom: 10px;
    }
}
.footer__widgets--short {
    padding: 60px 0;
}
.footer .logo__img {
    display: block;
    padding-bottom: 20px;
}

/* footer old */
@media only screen and (max-width: 768px) {
    footer .logo__img {
        width: 50%;
        margin: auto;
    }
    .social__footer {
        text-align: center;
    }
    footer .widget {
        text-align: center;
    }
    footer .widget ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 40%;
        margin: auto;
        gap: 10px;
    }
    footer .widget ul li {
        padding: 0px;
    }
    footer .widget ul li a {
        text-align: center;
    }
}
.social__footer{
    margin-top: 10px;
}
/* footer */
.footer__wrap {
    width: 100%;
    position: relative;
    padding: 0;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 40%;
    margin: auto;
    gap: 10px;
    line-height: 2;
    font-weight: 600;
}
.footer__logo {
    padding: 0 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    border-color: #e7e7e7;
    align-items: center;
    position: relative;
}
.footer__logo a {
    position: relative;
    z-index: 2;
    padding: 0 10px 0 0;
    display: inline-block;
}
.footer__contact {
    line-height: 1.5;
}
.footer p {
    margin: 0;
}
.footer__verifikasi {
    line-height: 1.5;
}
.footer__logo a img {
    height: 65px;
}
.footer__logo img {
    height: 55px;
}
.footer__menu{
    position: relative;
    padding: 0;
}
@media (max-width: 768px) {
    .footer__menu{
        position: relative;
        padding: 0;
        text-align: center;
    }
    .footer__item{
        padding: 0;
        position: relative;
        display: inline-block;
    }
    .footer__logo a img {
        height: 45px;
    }
    .footer__logo img {
        height: 40px;
    }
    .footer__logo {
    justify-content: center;
    }
    .footer, .copyright p {
        text-align: center;
    }
    .footer__menu.inline .footer__link {
        padding: 2px 5px;
        display: inline-block;
        font-size: 14px;
    }
}

.footer__item {
    position: relative;
    padding: 0;
    display: block;
}
.footer__link {
    padding: 5px 0;
    display: block;
    font-size: 14px;
}
.footer__copyright {
    border-top: 1px solid rgba(255,255,255,.2);
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
}
.footer__copyright {
    border-color: #e7e7e7;
}
.footer__copyright {
    align-items: center;
    position: relative;
}

/* Title category page */
.title-category{
    z-index: 99;
    color: #fff;
    font-size: 30px;
    line-height: 1.4;
    margin: 10px 0 10px;
}
@media only screen and (max-width: 767px) {
    .title-category {
        font-size: 16px;
    }
}

/* indeks */
.filter-box {
    display: flex;
    background: #f0f0f0;
    border-radius: 4px;
    padding: 16px 16px;
    width: 100%;
    justify-content: space-between;
    flex-flow: wrap;
    align-items: center;
    margin-bottom: 30px;
}

.filter-box span {
    color: #000;
    font-weight: bold;
}
.filter__date{
    background: #fff; 
    cursor: pointer; 
    padding: 10px 10px; 
    border: 1px solid #e0e0e0; 
    display:inline-block;
    border-radius: 6px;
}

.post__img img {
    object-fit: cover;
    object-position: center;
    text-align: center;
    width: 120px;
    height: 114px;
    border-radius: 50%; /* Mengatur elemen menjadi lingkaran */
    float: left;
    margin-right: 15px;
    border: 1px solid #2cc38b;
}
.post-list-small__entry {
    justify-content: space-between;
    flex-flow: wrap;
    align-items: center;
}
@media only screen and (max-width: 767px) {
    .post-list-small__entry {
        justify-content: space-between;
        flex-flow: wrap;
        align-items: center;
    }
    .post__img img {
        width: 100px;
        height: 98px;
    }
    .video__img{
        width: 127px;
    }
}

/* ads banner */
.ads__banner{
    padding-bottom: 1.5rem;
}

@media only screen and (min-width: 13in) {
    .thumb-text-down, .hl__b-subtitle{
        display: none;
    }
}
.thumb-text-down{
    position: relative;
    left: unset;
    bottom: auto;
    width: 100%;
    background: 0 0;
    padding: 15px 15px 20px;
    border: 1px solid #e5e5e5;
    border-radius: 0 0 20px 20px;
    box-shadow: 1px 2px 1px rgba(232, 232, 232, 0.8);
}
.hl__b-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 80px;
    height: auto;
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 1rem;
}
.hl__link {
    display: inline-block;
}
/* Layar kecil seperti smartphone vertikal */
@media only screen and (max-width: 480px) {
    .rubrik{
        display: none;
        position: relative;
        left: unset;
        bottom: unset;
        width: 100%;
        background: 0 0;
        padding: 15px 15px 20px;
    }
    .hl__b-subtitle {
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 2;
        background-color: #2cc38b;
        color: #fff;
        display: inline-block;
        padding: 3px 5px;
        margin-bottom: 5px;
        border-radius: 3px;
        font-size: .702rem;
        line-height: 1.5;
        font-weight: 600;
    }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
    .rubrik{
        display: none;
        
    }
    .hl__b-subtitle {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 2;
    background-color: #2cc38b;
    color: #fff;
    display: inline-block;
    padding: 3px 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    font-size: .702rem;
    line-height: 1.5;
    font-weight: 600;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .rubrik{
        display: none;
    }
    .hl__b-subtitle {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 2;
    background-color: #2cc38b;
    color: #fff;
    display: inline-block;
    padding: 3px 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    font-size: .702rem;
    line-height: 1.5;
    font-weight: 600;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    .rubrik{
        display: none;
    }
    .hl__b-subtitle {
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 2;
        background-color: #2cc38b;
        color: #fff;
        display: inline-block;
        padding: 3px 5px;
        margin-bottom: 5px;
        border-radius: 3px;
        font-size: .702rem;
        line-height: 1.5;
        font-weight: 600;
    }
}
/* Tablet vertikal */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .rubrik{
        display: none;
    }
    .hl__b-subtitle {
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 2;
        background-color: #2cc38b;
        color: #fff;
        display: inline-block;
        padding: 3px 5px;
        margin-bottom: 5px;
        border-radius: 3px;
        font-size: .702rem;
        line-height: 1.5;
        font-weight: 600;
    }
}
/* pagination page */
.paging--page {
    padding: 10px 0;
}
.paging {
    padding: 15px;
    border: 1px solid #eff0f6;
    box-shadow: 0 2px 8px rgba(0,0,0,.02);
    -moz-box-shadow: 0 2px 8px rgba(0,0,0,.02);
    -o-box-shadow: 0 2px 8px rgba(0,0,0,.02);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
}
.paging, .paging--article, .paging--page, .paging__wrap{
    position: relative;
}
.paging__wrap .paging--page{
    text-align: center;
}
.paging__wrap {
    padding: 0;
}
.paging__item {
    vertical-align: middle;
    margin: 5px 1px;
}
.paging__item{
    display: inline-block;
}
.paging__item .paging__link--active {
    background: #2cc38b;
}
.paging--page .paging__link {
    padding: 8px 15px;
    min-width: 38px;
}
.paging__link {
    border: 1px solid #2cc38b;
}
.paging__link--active, .paging__link--show{
    color: #fff;
}
.paging__link {
    padding: 7px 11px;
    line-height: 1;
    border-radius: 162px;
}
.paging__link, .paging__link--next, .paging__link--prev, .paging__teaser{
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
}
.paging__link{
    display: block;
}
.paging__link--show, .paging__link:hover:not(.paging__link--active){
    color: #2cc38b;
}
.paging--page .paging__wrap{
    text-align: center;
}
.paging__item .paging__link--show, .paging__item:nth-last-child(1) .paging__link, .paging__link--show{
    background-color: #2cc38b;
}
.paging__item:nth-last-child(1) .paging__link{
    color: #fff;
}
.search__empty{
    background: #f0f0f0;
    border-radius: 4px;
    padding: 16px 16px;
    width: 100%;
    margin-bottom: 30px;
}
.search__result{
    text-align: center;
    vertical-align: middle;
}

.nav__search-trigger-lg {
    font-size: 30px;
    color: #2CC38B;
}

.nav {
    min-height: 48px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: unset;
    position: unset;
    -webkit-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
    /* Dropdowns (large screen) */
}
.nav__lainnya{
    margin-left: auto;
}
/* Style for the submenu */
.menu__lainnya {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
/* .menu__lainnya li {
    margin-right: 10px;
} */
.submenu {
    right: -20px;
    border-radius: 5px;
    z-index: 99;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    max-height: 500px;
    overflow-y: auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.submenu li {
    padding: 10px;
}
.submenu li:hover{
    color: #2CC38B !important;
}
.submenu::-webkit-scrollbar {
    width: 8px;
}
.submenu::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 4px;
}
.submenu::-webkit-scrollbar-track {
    background-color: #f9f9f9;
}
.link-submenu {
    text-decoration: none;
    color: black;
    display: block;
}
.link-submenu:hover{
    color: #2CC38B !important;
}

/* Style for the hover effect */
.menu__lainnya li:hover .submenu {
    display: block;
}

/* google news */
.croslink {
    margin: 15px 0 27px;
    position: relative;
}
.croslink a {
    color: #fff;
    border-radius: 20px;
    border: solid 5px #e4e4e4;
    background: rgb(14,147,97);
    background: linear-gradient(50deg, rgba(14,147,97,0.756827731092437) 0%, rgba(44,195,139,0.6755952380952381) 100%);
    display: block;
    padding: 13px 17px;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.4;
    padding-right: 45px;
}
@media only screen and (max-width: 767px) {
    .croslink a{
        padding: 13px 18px;
        font-size: 11px;
        padding-right: 0;
    }
}
.read__content strong {
    font-weight: 700;
}
.editor__text span{
    font-weight: 600;
}
/* 404 not found */
.p404{
    width: 100%;
}
.display-table {
    display: table;
    width: 100%;
    height: 100%;
    z-index: 1;
    text-align: center;
}
.p404 img {
    max-width: 50%;
}
.p404__content {
    color: #000;
}
.p404__content {
    text-align: center;
    padding: 10px 0 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: #000;
}
.p404__link {
    color: #fff;
    text-align: center;
    background: #2CC38B !important;
}
.p404__link:hover {
    color: #fff;
    background: #25aa79 !important;
}
.p404__link {
    display: block;
    display: inline-block;
    margin: 0 auto;
    padding: 5px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
.p404__title {
    color: #25aa79 !important;
}
.p404__title {
    font-size: 150px;
    font-weight: 600;
    line-height: 1;
    color: #5f2eea;
}
.menu{
display: flex;
flex-direction: column;
margin-top: 15px;
margin-left: 30px;
}
.menu li a{
display: flex;
font-size: 1rem;
color: #2CC38B;
transition: 0.1s;
}
@media screen and (max-width:600px) {
    .text,.image{
    width: 100%;
    }
    .text{
    display: block;
    width: 100%;
    padding: 20px 40px;
    }
    .image{
    display: flex;
    width: 200px;
    align-self: center;
    justify-content: center;
    margin: auto;
    }
}
@media (min-width: 767px) {
    .footer__verifikasi {
        margin-top: 10px;
        background: #72f3c4;
        color: #000;
        align-items: center;
        display: flex;
        width: fit-content;
        padding: 0.5em;
        border-radius: 10px;
        font-weight: 500;
    }
}
.footer__verifikasi {
    margin-top: 10px;
    background: #72f3c4;
    color: #000;
    align-items: center;
    padding: 0.5em;
    border-radius: 10px;
    font-weight: 500;
}
.image-single-post img{
    border-radius: 25px;
    width: 700px;
    height: 500px;
}
.dropdown__rubrik>a{
    display: block;
    line-height: 1;
    padding: 10px 5px;
}
.dropdown__rubrik .subicon{
    border-radius: 100%;
    background: #cecece;
    font-size: 14px;
    color: #fff;
    padding: 2px 5px;
}
.dropdown__rubrik .subicon:hover{
    background: #848484;
}
.submenu:focus .subicon{
    background: #848484;
}
pre{
    font-family: 'Poppins', sans-serif;
    padding: 0 0 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    white-space: pre-wrap;
    overflow-x: hidden;
    color: #000;
}
.play, .play__buttom{
    position: absolute;
    z-index: 99;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-size: 44px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    box-shadow: 0 0 0 5px rgba(0,0,0,.4);
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    border-radius: 24px;
    color: #fff;
}
.thumbnail__headline:hover .thumb__img-holder {
    filter: brightness(80%);
}
.thumbnail__headline:hover .play, .video__img:hover .play__buttom{
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1;
}
.video__img {
    position: relative;
    overflow: hidden;
    width: 211px;
    height: auto;
    float: left;
    margin-right: 15px;
}
@media screen and (max-width: 767px) {
    .video__img{
        width: 140px ;
    }
    .videos__player{
        height: 220px;
    }
}
.video__img img{
    border-radius: 10px;
}
iframe {
    border: none;
    vertical-align: top;
}
.videos__player {
    position: relative;
    margin: 0 -15px 20px;
}
.videos__ratio {
    position: relative;
    padding-bottom: 56.25%;
}
.videos__ratio iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.videos__ratio {
    position: relative;
    padding-bottom: 56.25%;
}
.gallery__item{
    cursor: zoom-in;
}
.image-source-link {
	color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}
/**
 * Simple fade transition,
 */
 .mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}